body{
    font-family: "Verdana";
    background-color: #4d75b3;/*blue*/
    color: white;
    text-align: center;
}

.throttle{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
