body{
    background-color: lightblue;
    color: white;
    text-align: center;
    font-family: verdana;
}

.throttle{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
